[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
litellm = "*"
python-dotenv = "==1.0.1"
fastapi = "*"
uvicorn = "*"
supabase = "*"
requests = "*"
pandas = "*"
openai = "*"
together = "*"
anthropic = "*"
asyncio = "*"
nest-asyncio = "*"
pika = "*"
openpyxl = "*"
langchain = "*"
langchain-huggingface = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-core = "*"
langgraph = "*"
langchain-community = "*"
tavily-python = "*"
judgeval = "*"
simpleeval = "*"
pydantic-ai = "*"
devtools = "*"
logfire = {extras = ["httpx"], version = "*"}
matplotlib = "*"
langchain-together = "*"

[dev-packages]

[requires]
python_version = "3.11"
